<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Credit App</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
 <div class="login">
	<h1>Cimulation of your credit</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<label for="Credit_History">Credit History:</label>
    <select name="Credit_History" required>
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    
    <label for="Married">Married:</label>
    <select name="Married" required>
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>

    <label for="CoapplicantIncome">Coapplicant Income:</label>
    <input type="number" name="CoapplicantIncome" placeholder="Coapplicant Income" required />

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
